.center {
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    max-width: 70%;
}

@media only screen and (max-width: 1000px){
    .center {
        max-width: 90%
    }
}
p {
    font-size: 1.5rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
body {
    background-color: #323232; 
    color: azure; 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px;
    padding: 0px;
}
h1 {
    text-align: center;
    font-size: 3.5rem;
    background-color: #292929;
    border-radius: 10px;
    border-color: azure;
    border: azure;
    padding: 10px;
    margin: 10px;
}
h2 {
    font-size: 2.5rem;
}
.img{
    width: 40%;
    padding: 1%;
}
a:link, a:visited {
    color: aqua;
}

a:hover {
    color:red;
    cursor: pointer;
}
a:active{
    color:red;
}
hr{
    opacity: 65%;
    max-width: 120%;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    background-color: #292929;
    border: none;
    border-radius: 10px;
    color: azure;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size:1.5rem;
    opacity: 65%;
    align-content: center;
}

button:hover{
    opacity: 100%;
    cursor: pointer;    
}
button img {
    height: auto;
    width: 15%; 
    border-radius: 20%; 
    background-color: azure; 
    margin-top: .5vw;
    height: fit-content;
}
